In [3]:
import sys,os,pickle
from pdb import set_trace
import pandas as pd,numpy as np
import io_data
dir_path = r"/Users/dt/Desktop/barra/data"
io1 = io_data.io_d1(r"/Users/dt/Desktop/barra/data")

In [76]:
valid_code = io1.load("valid_code_chuangye")
ind_ret = io1.load("individual_ret")
hs300_ret = io1.load("hs300_price")

In [13]:
def cut_time(df,time_col_name,start_time = pd.to_datetime("2018-01-01"),end_time = pd.to_datetime("2021-12-01")):
    use_col = df.columns.get_loc(time_col_name)
    return df[(df.iloc[:,use_col] < end_time)&(df.iloc[:,use_col] > start_time)]

In [119]:
# # import tushare as ts
# # pro = ts.pro_api()

# import datetime,time
# all_day = list(map(lambda x:pd.to_datetime(x).strftime("%Y%m%d"),pd.unique(ind_ret["TradingDay"])))
# valid_day = [day for day in all_day if day > "2016-08-04"]
# # tp_info = pd.DataFrame([])
# for day in valid_day:
#     print(datetime.datetime.now(),"\t"+day)
#     df = pro.suspend_d(suspend_type = 'S',trade_date = day)
#     tp_info = pd.concat([tp_info,df],axis=0,ignore_index=True)
#     time.sleep(3)

In [164]:
import warnings
warnings.filterwarnings("ignore")
SH_data = pd.read_csv(os.path.join(dir_path,"SH_code.csv"),encoding="gbk",header= 1,index_col = 0)
SZ_data = pd.read_csv(os.path.join(dir_path,"SZcode_indicator.csv"),encoding="gbk",header = 1,index_col = 0)

In [165]:
valid_col = [name for name in SH_data.columns if "Unnamed" not in name]
valid_col_num = [SH_data.columns.get_loc(name) for name in valid_col]
valid_col2 = [name for name in SZ_data.columns if "Unnamed" not in name]
valid_col_num2 = [SZ_data.columns.get_loc(name) for name in valid_col2]

In [171]:
est_eps = pd.DataFrame([])
netprofit_2Y_CAGR = pd.DataFrame([])
netprofit_1Y_CAGR = pd.DataFrame([])
#netprofit_CAGR
SH_netprofit_2Y = SH_data.iloc[:,0:valid_col_num[1] - 2]
SH_netprofit_2Y.columns = SH_netprofit_2Y.iloc[1,:]
SZ_netprofit_2Y = SZ_data.iloc[:,0:valid_col_num2[1] - 2]
SZ_netprofit_2Y.columns = SZ_netprofit_2Y.iloc[1,:]
netprofit_2Y_CAGR = pd.concat([SZ_netprofit_2Y,SH_netprofit_2Y],axis=1)

#est_eps
SH_est_eps = SH_data.iloc[:,valid_col_num[1]:valid_col_num[2] - 2]
SH_est_eps.columns = SH_est_eps.iloc[1,:]
SZ_est_eps = SZ_data.iloc[:,valid_col_num2[1]:valid_col_num2[2] - 2]
SZ_est_eps.columns = SZ_est_eps.iloc[1,:]
est_eps = pd.concat([SZ_est_eps,SH_est_eps],axis= 1)

#netprofit_1Y_CAGR
SH_netprofit_1Y = SH_data.iloc[:,valid_col_num[2]:]
SH_netprofit_1Y.columns = SH_netprofit_1Y.iloc[1,:]
SZ_netprofit_1Y = SZ_data.iloc[:,valid_col_num2[2]:]
SZ_netprofit_1Y.columns = SZ_netprofit_1Y.iloc[1,:]
netprofit_1Y_CAGR = pd.concat([SZ_netprofit_1Y,SH_netprofit_1Y],axis = 1)

In [188]:
pd.set_option('display.max_rows',100)
io1.upload(netprofit_2Y_CAGR.iloc[2:,:],"netprofit_2Y_CAGR")
io1.upload(est_eps.iloc[2:,:],"est_eps")
io1.upload(netprofit_1Y_CAGR.iloc[2:,:],"netprofit_1Y_CAGR")

In [177]:
P = io1.load("individual_ret")

In [229]:
cash_earnings = io1.load("MainData")

In [255]:
cash_earnings[cash_earnings["SecuCode"] == "605499"].sort_values("EndDate")

,InfoPublDate,EndDate,SecuCode,TotalShareholderEquity,Mu_profit,All_Income,TotalShares
47427,2020-10-10,2017-12-31,605499,8.711130e+08,1.710605e+09,2.844535e+09,NaN
47428,2021-05-07,2018-12-31,605499,1.086944e+09,6.703183e+08,3.038946e+09,350000000.0
47429,2021-05-07,2019-12-31,605499,1.635181e+09,2.591598e+09,4.210527e+09,360000000.0
47430,2021-05-07,2020-03-31,605499,NaN,NaN,9.333074e+08,360000000.0
47431,2021-07-29,2020-06-30,605499,1.716786e+09,2.104608e+09,2.470098e+09,360000000.0
47432,2021-10-28,2020-09-30,605499,NaN,NaN,4.045055e+09,360000000.0
47433,2021-10-28,2020-12-31,605499,1.913253e+09,4.315726e+09,4.960477e+09,360000000.0
47434,2021-05-07,2021-03-31,605499,2.255143e+09,2.141709e+09,1.711775e+09,360000000.0
47435,2021-07-29,2021-06-30,605499,4.321006e+09,7.300340e+09,3.683441e+09,400010000.0
47436,2021-10-28,2021-09-30,605499,4.041199e+09,1.006259e+10,5.561941e+09,400010000.0

In [253]:
cash_earnings.groupby("SecuCode").apply(len).sort_values()

SecuCode
605499    10
601156    10
000562    11
003035    12
001203    12
          ..
002470    39
002468    39
002465    39
600030    39
000738    41
Length: 1291, dtype: int64

In [238]:
X = np.arange(10);X = X[:,np.newaxis]
Y = np.random.random((10,1))
import statsmodels.api as sm
X1 = sm.add_constant(X)
model = sm.OLS(Y,X1)
results = model.fit()
results.resid

array([ 0.1705848 , -0.02787036, -0.11988687, -0.24961891,  0.35507764,
       -0.05435523, -0.15082296, -0.2172727 ,  0.35366824, -0.05950364])

In [247]:
np.std(np.arange(3)+1)

0.816496580927726

In [244]:
Y.flatten() - (X1*results.params).sum(1)

array([ 0.1705848 , -0.02787036, -0.11988687, -0.24961891,  0.35507764,
       -0.05435523, -0.15082296, -0.2172727 ,  0.35366824, -0.05950364])